#bg-food{
  background-image: url('../assets/foods.jpg');
  background-repeat: none;
  height: 500px;
  width: 1265px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: rgb(255, 180, 0);
}