<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Insert Adress">
  </mat-form-field>
</form>

<section> 
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)">
    <agm-marker 
    [latitude]="lat" 
    [longitude]="lng"
    *ngIf="locationChosen">
    <agm-info-window>
        <p><b>jklñ´</b></p>
        <p><b>ghjkl</b></p>
    </agm-info-window>
  </agm-marker>
  </agm-map>
</section>

<mat-card header class="sort-card"> 
    <mat-card-title>Sort by</mat-card-title>
    <mat-card-content> 
<mat-checkbox>Rating</mat-checkbox>
<br />
<mat-checkbox>A - Z</mat-checkbox>
<br />
</mat-card-content>
</mat-card>
