.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  position: absolute;
  left: 110px;
  top: 100px;
}

.example-full-width {
  width: 100%;
}

agm-map{
  position: relative;
  left: 100px;
  top: 100px;
  width: 600px;
  height: 300px;
}

.sort-card{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 170px;
  left: 800px;
  opacity: .8;
}