    <section>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-circle (dragEnd)="mapDragEnd($event)" [latitude]="lat" [longitude]="lng" [circleDraggable]="true" [radius]="radius">
              <div *ngFor="let restaurant of insideRadius">
              <agm-marker
               [latitude]="restaurant.address.location.lat" 
               [longitude]="restaurant.address.location.lng">
                <agm-info-window>
                  <p>
                    <b>{{restaurant.name}}</b>
                    <br />
                    <b>Rating: {{restaurant.rating}}</b>
                    <br />
                    <b><a href="{{restaurant.contact.site}}">{{restaurant.contact.site}}</a></b>
                  </p>
                </agm-info-window>
              </agm-marker>
            </div>
          </agm-circle>
        </agm-map>
      </section>
         <form class="example-form">
              <mat-form-field class="example-full-width">
                 <input matInput type="number" placeholder="type the radius in meters" (keydown.enter)="sendRadius(newRadius)">
            </mat-form-field>
        </form>
      <section> 
      <mat-card header class="sort-card">
          <mat-card-title >Statical Data</mat-card-title>
          <app-statical [theRestaurants]="insideRadius"></app-statical>
      </mat-card>
      </section>
  
      <div class="res-list">
          <app-restaurants-list [theRestaurants]="insideRadius"></app-restaurants-list>

      </div>

